input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.input-group {
  position: relative;
  line-height: 1.25rem;
  .input-label {
    display: block;
    float: left;
    font-size: 15px;
    font-weight: bold;
    color: rgb(28, 28, 28);
    margin-bottom: 5px;
  }
  .input-contact {
    width: 100%;
    outline: 0;
    border: 1px solid #d4d4d4;
    padding: 0.75rem 1rem;
    color: rgb(0, 0, 0);
  }
  .input-error {
    border: 1px solid red !important;
  }
  .error-message {
    position: absolute;
    color: red;
    font-size: 12px;
    margin-top: 3px;
    min-height: 12px;
  }
  .message {
    width: 100%;
    min-height: 100px;
    max-height: 200px;
    border: 1px solid #d4d4d4;
    outline: 0;
    padding: 0.75rem 1rem;
    color: rgb(0, 0, 0);
  }
}
.button-contact {
  height: 3rem;
  font-size: 20px;
  color: white;
  margin-top: 20px;
  background: linear-gradient(to right, #2575fc 0%, #4e3adf 50%, #6a11cb 100%);
}
.button-contact:hover {
  animation: animate 8s ease infinite;
  transition: box-shadow, 0.4s;
  border: none;
  font-size: 19px;
  background: linear-gradient(
    90deg,
    #2575fc 0%,
    #4e3adf 25%,
    #6a11cb 50%,
    #4e3adf 75%,
    #2575fc 100%
  );
  background-size: 400%;
}
.button-contact:hover:before {
  filter: blur(20px);
  opacity: 1;
  animation: animate 8s linear infinite;
}
@keyframes animate {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 400%;
  }
}
@media (min-width: 800px) {
  .col-contact-ipad {
    flex: 0 0 auto;
    width: 50%;
  }
}
