.job-offcanvas-search {
  .offcanvas-search-btn {
    background: var(--primary-gradient);
    width: 100%;
    padding: 10px 0;
    font-size: 20px;
    border: 0;
    color: var(--white);
    border-radius: var(--border-radius);
  }
}
