:root {
  --shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
  --shadow-hover: 0 12px 30px rgba(0, 0, 0, 0.15);
}

.title {
  text-align: center;
  color: #562ee0;
  font-weight: bold;
  margin-bottom: 15px;
}
